* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', cursive;
}

html{
	font-size: 62.5%;
}

.container{
	width: 100%;
	height: 100vh;
	background-color: white;
	color: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calendar {
	width: 45rem;
	height: 52rem;
	background-color: #222227;
	box-shadow: 0 .5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
	width: 100%;
	height: 12rem;
	background-color: #167e56;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	text-align: center;
	text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.5);
}

.month i {
	font-size: 2.5rem;
	cursor: pointer;
}

.month h1 {
	font-size: 3rem;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	margin-bottom: 1rem;
}

.month p {
	font-size: 1.6rem;
}

.weekdays {
	width: 100%;
	height: 5rem;
	padding: 0 0.4rem;
	display: flex;
	align-items: center;
}

.weekdays div {
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	width: calc(44.2rem/7);
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.5);
}

.days {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: .2rem;
}

.days div {
	font-size: 1.4rem;
	margin: .3rem;
	width: calc(40.2rem / 7);
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.5); 
	transition: background-color .2s;
}

.days div:hover:not(.today) {
	background-color: #262626;
	border: .2rem solid #777;
	cursor: pointer;
}

.prev-date,
.next-date {
	opacity: .5;
}

.today {
	background-color: #167e56;
}
.date{
	padding-top:50px;
}

.modal {
	/*display: none;*/
	position: fixed;
	z-index: 1;
	left: 0; 
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
	background-color: #f4f4f4;
	font-size: 15px;
	overflow: auto;
	color: black;
	margin: auto;
	padding: 20px;
	width:50%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.17);
	animation-name: modalopen;
	animation-duration: 1s;

}

#closeBtn {
	color: #ccc;
	float: right;
	font-size: 20px;
}

#closeBtn:hover, #closeBtn:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

@keyframes modalopen {
	from{ opacity: 0 }
	to{ opacity: 1 }
}